---
layout: default-en
title: Codemotion Spain - Call for papers
---
 
{% include menu-en.html active="c4p" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns medium-6">
      <h2>Call for papers</h2>
      <p>Do you want to share what makes you excited about technology? Enter our Call for Papers <b>open until July 31</b> and post your talk or workshop. 
      <p><a class="button button-lrg" href="https://docs.google.com/forms/d/1QS0w2963gRr2MktKXxe_bpx0rB8TeQy4Q5VtN4XouEk/viewform">Send your talk</a>
    </div>
    <div class="columns medium-6">
      <h2>Call for startups</h2>
      <p>This is our first time that we will open 5 slots for startups in Codemotion. <a href="http://blog.codemotion.es/call-for-startups">Read more</a>.

      <p class="right"><a href="https://docs.google.com/forms/d/11OXhwzxUvhZruup-P6Q8PpDPrC6rf-DwaiJ903F5Huk/viewform"><span class="icon-right-open"></span> Register your startup</a>
    </div>
  </div>
</section>
<hr>
<section>
  <div class="row">
    <div class="columns">
      {% include tickets-en.html %}
    </div>
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Meet our communities</h2>
      <p>These are the communities that will evaluate your talk. You should dedicate a minute to meet them and choose the best three to address your proposal.
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>Missing your community? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Ask for an invitation here</a></small> 
  </div>
</section>
    <!--
<hr>
<section>
  <div class="row contents">
    
    <div class="columns medium-6">
      <h2>Call for volunteers</h2>
      <p>Codemotion está gestionado por unos pocos  
      <p class="right"><a href="https://docs.google.com/forms/d/1Kb_DevRucpJYdXbICkHKlwtUHb8k39H6z2JZ6429V-4/viewform"><span class="icon-right-open"></span> Apúntate como voluntario</a>
    </div>
  </div>
</section>
  -->
