---
layout: default-en
title: Codemotion Spain - Call for volunteers
---
 
{% include menu-en.html active="c4p" topbarClass="fixed" %}


<section>
  <div class="row contents">
    <div class="columns">
      <h2>Why volunteer at Codemotion?</h2>
      <p>Codemotion is organized by a handful of volunteers, and when the day comes there should be a lot of us to assume all that is coming:

      <ul>
        <li><b>Help in the rooms</b> before, after and during the talks.
        <li><b>Prepare the aisles and stands</b> for the two days.
        <li><b>Prepare and give the schwag to the attendees</b>.
        <li><b>Support the attendees</b> while moving and searching for their talks.
        <li><b>Support the speakers</b>.
        <li><b>And whatever happens</b>.
      </ul>

      <p>On the other hand, there are also a lot of advantages:

      <ul>
        <li><b>Networking</b>. Codemotion is a great opportunity to get to know a lot of incredible people.
        <li><b>Get first-hand experience</b> about how the organization of an event for more than a thousand people feels like.
        <li><b>Get a T-shirt and special schwag</b> as a Codemotion organizer.
        <li><b>You will be able to assist to some talks</b> within reason. Remember, you came to help.
      </ul>

      <p>If you are a student and the idea looks attractive, click the big blue button:</p>
      <a class="button button-lrg" href="https://docs.google.com/forms/d/1Kb_DevRucpJYdXbICkHKlwtUHb8k39H6z2JZ6429V-4/viewform">Send your contact details</a>
    </div>
    
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Meet our communities</h2>
      <p>These are the communities that you will meet at the event.
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>Missing your community? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Ask for an invitation here</a></small> 
  </div>
</section>
    