---
layout: default-en
title: Codemotion Spain - For the communities, by the communities
description: Codemotion is the event that gets all the IT communities in Spain together for two days.
---

<div class="picture-container">
  <div class="picture-caption">
    <a class="bottom-logo" href="/">Codemotion</a>
    <div><span class="picture-where">Madrid / Spain</span> <span class=picture-when>Nov 21-22</span></div>
    <div class="picture-shortcuts">
      <a href="http://blog.codemotion.es" title="Our blog" class="picture-shortcut"><span class="icon-pencil"></span></a>
      <a href="#location" title="Location" class="picture-shortcut"><span class="icon-location"></span></a>
      <a href="agenda.html" title="Agenda" class="picture-shortcut"><span class="icon-calendar"></span></a>
    </div>
    <!--
    <div><a class="picture-cta button button-lrg alert" href="http://codemotion.koliseo.com">Register now</a></div>
    -->
  </div>
  <div class="picture-arrow"><span class="icon-down-open"></span></div>
</div> 

{% include menu-en.html topbarClass="sticky" %}

<section class="contents">
  <div class="row">
    <!--
    <div class="columns">
      <h1 style="clear: both">We are the IT crowd, and we deserve a day to talk about our craft.</h1>
      <p class="lead">Computer Science is a motor of the economy: we control airports and hospitals, keep transactions and invoices flowing, and store passwords, documents and kitten pictures. Hell, we even did what we could for the banks. 
      <p>We live in a sector that reinvents itself every six months, where it would be easy to just relax and stop chasing after the next new and shiny thing. Codemotion is this day in which we sit down to talk about all that we have in common, stepping aside everything that makes us different.
      <hr>
    </div>
  </div>

  <section class="row">
    -->
    <div class="columns">
      <h1>Thanks.</h1>
      <p class="lead">We set up a date, and you guys came and exceeded our craziest expectations. We are now resting and brainstorming ideas to make it better in 2015; meanwhile, you can follow us on <a href="http://twitter.com/codemotion_es">Twitter</a> or on <a href="https://www.youtube.com/channel/UCd_1KHg4t2VKGsSDF8OD5Cw">our Youtube channel</a>.
    </div>

    <div class="medium-6 columns contents">
      <div class="row">
        <div class="stat-value">+1,925</div><div class="stat-label">Attendees</div>
      </div>
      <div class="row">
        <div class="stat-value communities-count">35</div><div class="stat-label">Communities</div>
      </div>
      <div class="row">
        <div class="stat-value">120</div><div class="stat-label">Talks</div>
      </div>
      <div class="row">
        <div class="stat-value">14</div><div class="stat-label">Workshops</div>
      </div>
    </div>
    <div class="medium-6 columns contents">
      <p>Codemotion gets all the IT communities in Spain together for two days. We take an entire university building to present the best of each technology and get you far away from your comfort zone.</p>
    </div>
  </section>
  <section class="row">
   <div class="large-6 columns large-offset-3">
      <div class="flex-video widescreen vimeo">
        <iframe src="//player.vimeo.com/video/77286003?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="420" height="236" frameborder="0" class="vimeo" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <hr>
      <h2 id="location">Where </h2>
      <p>Universidad San Pablo CEU, Campus de Montepríncipe (Boadilla del Monte, Madrid)  <a href="https://goo.gl/maps/X5eoF" target="_blank"><span class="icon-right-open"></span> View in map</a>
    </div>
    <div class="large-6 columns">
      <p>The parking has a limited capacity, and there will be many of us. We recommend to take the public transport, which is surprisingly easy:
      <p><a href="http://www.uspceu.com/" target="_blank"><img src="/img/sponsors/ceu.png" alt="Universidad San Pablo CEU" style="max-height: 60px;"></a>
      <p><span class="icon-train"></span> <b>Metro ligero</b>: L3 (direction Puerta de Boadilla, drop at MontePríncipe)
      <p><span class="icon-bus"></span> <b>Bus</b>: 571, 573, 574
      <p>We have hired <a href="http://blog.codemotion.es/como-llegar/">a bus service connecting directly to Plaza de España</a> just in case. 
      <p><b>THIS IS NOT THE SAME AS "CAMPUS DE MONCLOA".</b> Please double-check your GPS instructions.
      
    </div>
    <div class="large-6 columns">
      <div data-interchange="[/map-small.html, (small)], [/map-large.html, (large)]">
    </div>
  </section>

</section>
{% include schema.html %}
