<!--
<section class="sponsors">
  <div class="row">
    <a href="http://www.gdgspain.org/" class="community GDG-Spain" title="GDG Spain">GDG Spain</a> 
    <a href="http://www.riojadotnet.com" class="community RiojaDotNet" title="RiojaDotNet">RiojaDotNet</a> 
  </div>
</section>
-->
<footer>
  <div class="row">
    <div class="columns medium-8">
      <p><a class="bottom-logo" href="/">Codemotion</a></p>
      <p class="footer-social-container">
        <!-- spaces removed because Android 2.3 didn't like them -->
        <a class="footer-social mail" href="mailto:info@codemotion.es" title="{{page.i18n.emailUs}}"><span class="icon-mail"></span></a><a 
        class="footer-social google" href="https://plus.google.com/104221251947950058832" title="{{page.i18n.plusUs}}"><span class="icon-youtube"></span></a><a 
        class="footer-social facebook" href="https://www.facebook.com/pages/Codemotion-Madrid/505998872792272" title="{{page.i18n.friendUs}}"><span class="icon-facebook"></span></a><a 
        class="footer-social twitter" href="https://twitter.com/codemotion_es" title="{{page.i18n.followUs}}"><span class="icon-twitter"></span></a><a 
        class="footer-social github" href="https://github.com/icoloma/web-codemotion" title="{{page.i18n.githubTitle}}"><span class="icon-github-text"></span></a>
      </p>
    </div>
    <div class="medium-4 columns">
      <div class="design-by-container">
        <span class="design-by">designed with love by</span> 
        <a href="http://blog.extrema-sistemas.com" class="extrema" title="Proudly developed in Madrid, Tenerife and Cologne">Extrema Sistemas</a>
      </div>
    </div>
    <p class="locale text-center"><a href="/en" hreflang="en">EN</a> &middot; <a href="/es" hreflang="es">ES</a>

  </div>
</footer>