<div class="row">
    <hr>
    <div class="columns small-12 medium-3">
      <h3>Diamond</h3>
    </div>
    <div class="columns small-12 medium-9">
    <ul class="small-block-grid-1 large-block-grid-2">
        <li class="text-center"><a href="http://developer.paypal.com/" target="_blank"><img src="/img/sponsors/paypal.png" alt="PayPal"></a></li>
        <li class="text-center"><a href="http://bluemix.net" target="_blank"><img src="/img/sponsors/ibm.png" alt="IBM Bluemix" style="margin-top: 10px"></a></li>
    </ul>
    </div>

    <hr>
    <div class="columns small-12 medium-3">
      <h3>Platinum</h3>
    </div>
    <div class="columns small-12 medium-9">
      <ul class="small-block-grid-2 large-block-grid-3">
        <li class="text-center"><a href="http://msdn.microsoft.com/es-ES/" target="_blank"><img src="/img/sponsors/microsoft.png" alt="Microsoft"></a></li>
        <li class="text-center"><a href="http://software.intel.com/" target="_blank"><img src="/img/sponsors/intel.png" alt="Intel" style="width: 136px; margin-top: -13px;"></a></li>
      </ul>
    </div>

    <hr>
    <div class="columns small-12 medium-3">
      <h3>Gold</h3>
    </div>
    <div class="columns small-12 medium-9">
      <ul class="small-block-grid-2 large-block-grid-4">
        <li class="text-center"><a href="http://developers.google.com" target="_blank"><img src="/img/sponsors/google.png" alt="Google"></a></li>
        <li class="text-center"><a href="http://fon.com" target="_blank"><img src="/img/sponsors/fon.png" alt="Fon" style="padding: 0 25px;margin-top: -30px;"></a></li>
<!--        <li class="text-center"><a href="http://autentia.com" target="_blank"><img src="/img/sponsors/autentia.png" alt="Autentia"></a></li> -->
      </ul>
    </div>

    <hr>
    <div class="columns small-12 medium-3">
      <h3>Silver</h3>
    </div>
    <div class="columns small-12 medium-9">
      <ul class="small-block-grid-2 large-block-grid-4">
        <li class="text-center"><a href="http://mozilla.com" target="_blank"><img src="/img/sponsors/mozilla.png" alt="Mozilla"></a></li>
        <li class="text-center"><a href="http://www.deiser.com/" target="_blank"><img src="/img/sponsors/deiser.png" alt="Deiser" style="margin-top: 10px"></a></li>
        <li class="text-center"><a href="http://www.rumbo.es/" target="_blank"><img src="/img/sponsors/rumbo.png" alt="Rumbo"></a></li>
        <li class="text-center"><a href="http://vaadin.com/" target="_blank"><img src="/img/sponsors/vaadin.png" alt="Vaadin" style="margin-top: 10px"></a></li>
      </ul>
    </div>

    <hr>
    <div class="columns small-12 medium-3">
      <h3>Partners</h3>
    </div>
    <div class="columns small-12 medium-9">
      <ul class="small-block-grid-2 large-block-grid-3">
        <li class="text-center"><a href="http://www.uspceu.com/" target="_blank"><img src="/img/sponsors/ceu.png" alt="Universidad San Pablo CEU" style="max-height: 60px;"></a></li>
        <li class="text-center"><a href="http://shutterstock.com?pl=Partnerships-CMMD&cr=lo" target="_blank"><img src="/img/sponsors/shutterstock.png" alt="Shutterstock"></a></li>
        <li class="text-center"><a href="http://ticjob.es" target="_blank"><img src="/img/sponsors/ticjob.png" alt="TicJob" style="margin-top: -15px; max-height: 60px"></a></li>
      </ul>
    </div>

</div>