<div class="row">
  <div class="column">
    <ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#diamond">Diamond</a></li>
      <li class="tab-title"><a href="#platinum">Platinum</a></li>
      <li class="tab-title"><a href="#gold">Gold</a></li>
      <li class="tab-title"><a href="#silver">Silver</a></li>
    </ul>
    <div class="tabs-content">
      <div class="content active" id="diamond">
        <ul class="small-block-grid-1 large-block-grid-2">
          <li><a href="http://paypal.com" target="_blank"><img src="/img/sponsors/paypal.png" alt="PayPal"></a></li>
          <li><a href="http://bluemix.net" target="_blank"><img src="/img/sponsors/ibm.png" alt="IBM Bluemix"></a></li>
        </ul>
      </div>
      <div class="content" id="platinum">
        <p class="text-center">To be announced...</p>
      </div>
      <div class="content" id="gold">
        <ul class="small-block-grid-2 large-block-grid-4">
          <li><a href="http://google.com" target="_blank"><img src="/img/sponsors/google.png" alt="Google"></a></li>
        </ul>
      </div>
      <div class="content" id="silver">
        <ul class="small-block-grid-2 large-block-grid-4">
          <li><a href="http://mozilla.com" target="_blank"><img src="/img/sponsors/mozilla.png" alt="Mozilla"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>