---
layout: default-es
title: Codemotion Spain - Agenda
---
 
{% include menu-es.html active="agenda" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns">
      <h1>La agenda no está lista aún</h1>
      <p>Sí, sentimos eso. La tendremos preparada una vez se haya cerrado el Call for Papers, y va a estar increíble.
      <p>Entretanto, <a href="https://docs.google.com/forms/d/1Z2qNJP-Ha4N9G_4L1sdA2CmI3ZU7Acs-1pNBaF3PRQw/viewform">tenemos una encuesta abierta</a> para averiguar qué tecnologías quieres ver en Codemotion. Esto es lo que vamos a usar para componer la agenda, así que visita la encuesta y vota por tu movida tecnológica favorita.
    </div>
</section>
<hr>
<section>
  <div class="row contents">
    <div class="columns medium-6">
      <h2>Call for papers</h2>
      <p>¿Tienes un tema que te apasiona y que quieres compartir? Participa en nuestro Call for Papers en las categorías de charla o workshop. 
      <p><a class="button button-lrg" href="https://docs.google.com/forms/d/1QS0w2963gRr2MktKXxe_bpx0rB8TeQy4Q5VtN4XouEk/viewform">Envíanos tu charla</a>
    </div>
    <div class="columns medium-6">
      {% include tickets-es.html %}
    </div>
  </div>
</section>

<!--
<hr>
<section>
  <div class="row contents">
    <div class="columns medium-6">
      <h2>Call for startups</h2>
      <p>Este año es el primero en que abriremos 5 slots para startups en Codemotion. <a href="blog.codemotion.es/call-for-startups">Infórmate aquí</a>.

      <p class="right"><a href="https://docs.google.com/forms/d/11OXhwzxUvhZruup-P6Q8PpDPrC6rf-DwaiJ903F5Huk/viewform"><span class="icon-right-open"></span> Registra tu startup</a>
    </div>
    <div class="columns medium-6">
      <h2>Call for volunteers</h2>
      <p>Codemotion está gestionado por unos pocos  
      <p class="right"><a href="https://docs.google.com/forms/d/1Kb_DevRucpJYdXbICkHKlwtUHb8k39H6z2JZ6429V-4/viewform"><span class="icon-right-open"></span> Apúntate como voluntario</a>
    </div>
  </div>
</section>
-->