---
layout: default-en
title: Codemotion Spain - Call for volunteers
---
 
{% include menu-en.html active="c4p" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns">
      <h2>¿Por qué ser voluntario en Codemotion?</h2>
      <p>Codemotion lo hacemos un puñado de voluntarios, y el día del evento necesitaremos ser bastantes para poder hacer frente a todo lo que supone un evento de este tamaño:

      <ul>
        <li><b>Ayudar en las aulas</b> antes, durante y después de las charlas.
        <li><b>Acondicionar las zonas comunes</b> para los días del evento.
        <li><b>Preparación y entrega de schwag a los asistentes</b>.
        <li><b>Apoyar a los asistentes</b> en sus desplazamientos y búsqueda de las charlas.
        <li><b>Dar soporte a los ponentes</b>.
        <li><b>Y lo que surja</b>.
      </ul>

      <p>A cambio, hay ventajas asociadas a ser voluntario:

      <ul>
        <li><b>Networking</b>. Codemotion es una oportunidad de conocer de cerca un montón de gente increíble.
        <li><b>Adquirir experiencia de primera mano</b> de cómo organizar un evento para más de mil personas.
        <li><b>Conseguir una camiseta y schwag especial</b> de organizador de Codemotion.
        <li><b>Podrás asistir a algunas charlas</b>, aunque con moderación. Recuerda, vienes a colaborar.
      </ul>

      <p>Si eres estudiante y te atrae la idea, haz clic en el gran botón azul:</p>
      <a class="button button-lrg" href="https://docs.google.com/forms/d/1Kb_DevRucpJYdXbICkHKlwtUHb8k39H6z2JZ6429V-4/viewform">Envíanos tus datos</a>
    </div>
    
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Conoce a nuestras comunidades</h2>
      <p>Éstas son las comunidades que podrás conocer durante el evento
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>¿No está tu comunidad? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Solicita incluirla aquí</a></small>  
  </div>
</section>
    