---
layout: default-es
title: Codemotion Spain - For the communities, by the communities
description: Codemotion es el evento que junta a todas las comunidades de desarrolladores IT de España durante dos días.
---

<div class="picture-container">
  <div class="picture-caption">
    <a class="bottom-logo" href="/">Codemotion</a>
    <div><span class="picture-where">Madrid / Spain</span> <span class=picture-when>Nov 21-22</span></div>
    <div class="picture-shortcuts">
      <a href="http://blog.codemotion.es" title="Our blog" class="picture-shortcut"><span class="icon-pencil"></span></a>
      <a href="#location" title="Location" class="picture-shortcut"><span class="icon-location"></span></a>
      <a href="agenda-not-ready.html" title="Agenda" class="picture-shortcut"><span class="icon-calendar"></span></a>
    </div>
    <div><a class="picture-cta button button-lrg" href="call-for-papers.html">El Call for Papers está abierto</a></div>
  </div>
  <div class="picture-arrow"><span class="icon-down-open"></span></div>
</div> 

{% include menu-es.html topbarClass="sticky" %}

<section class="contents">
  <div class="row">
    <div class="columns">
      <h1 style="clear: both">Somos técnicos,  y nos merecemos un día para hablar de lo nuestro.</h1>
      <p class="lead">La informática es el motor de la economía: controlamos aeropuertos y hospitales, hacemos que fluyan facturas y transacciones, y almacenamos contraseñas, documentos y fotos de gatitos. Hasta hicimos lo que pudimos por la banca. 
      <p>Vivimos en un sector que se reinventa completamente cada seis meses, donde lo fácil sería relajarse y dejar de perseguir la siguiente cosa nueva y brillante. Codemotion es el día en que nos sentamos a hablar sobre todo lo que tenemos en común, dejando de lado lo que nos hace diferentes.
      <hr>
    </div>
  </div>

  <section class="row">
    <h2 class="columns">Abierto a todos los lenguajes y tecnologías</h2>
    <div class="medium-6 columns contents">
      <div class="row">
        <div class="stat-value">+1,500</div><div class="stat-label">Asistentes</div>
      </div>
      <div class="row">
        <div class="stat-value communities-count">30</div><div class="stat-label">Comunidades</div>
      </div>
      <div class="row">
        <div class="stat-value">95</div><div class="stat-label">Speakers</div>
      </div>
      <div class="row">
        <div class="stat-value">8</div><div class="stat-label">Tracks</div>
      </div>
    </div>
    <div class="medium-6 columns contents">
      <p>Codemotion junta a todas las comunidades de desarrolladores de España durante dos días. Ocupamos una universidad entera para presentar lo mejor de cada tecnología y sacarte bien lejos de tu zona de confort.</p>
    </div>
  </section>
  <section class="row">
   <div class="large-6 columns large-offset-3">
      <div class="flex-video widescreen vimeo">
        <iframe src="//player.vimeo.com/video/77286003?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="420" height="236" frameborder="0" class="vimeo" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="columns">
      <hr>
      <h2 id="location">Dónde</h2>
      <p>Universidad San Pablo CEU, Campus de Montepríncipe (Boadilla del Monte, Madrid)  <a href="https://goo.gl/maps/X5eoF" target="_blank"><span class="icon-right-open"></span> Ver en mapa</a>
    </div>
    <div class="large-6 columns">
      <p>El parking tiene capacidad limitada, y seremos bastantes. Recomendamos usar el transporte público, que es sorprendentemente sencillo:
      <p><span class="icon-train"></span> <b>Metro ligero</b>: L3 (dirección Puerta de Boadilla, bajarse en MontePríncipe)
      <p><span class="icon-bus"></span> <b>Bus</b>: 571, 573, 574
      <p><b>ESTO NO ES LO MISMO QUE "CAMPUS DE MONCLOA".</b> Por favor, comprueba las instrucciones de tu GPS.</div>
    </div>
    <div class="large-6 columns">
      <div data-interchange="[/map-small.html, (small)], [/map-large.html, (large)]">
    </div>
  </section>

</section>
{% include schema.html %}
