---
layout: default-es
title: Codemotion Spain - Patrocinar
---
 
{% include menu-es.html active="sponsoring" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns">
      <h1>Nuestros patrocinadores</h1>
      <p>Éstas son las empresas que se preocupan por nuestros desarrolladores. Averigua por qué <a href="http://blog.codemotion.es/sponsors/#why">patrocinar Codemotion es una experiencia increíble</a>.
    </div>
  </div>
  {% include sponsors.html %}
</section>
<section>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Conviértete en patrocinador</h2>
      <p>Codemotion es el mayor evento en España y uno de los más importantes de Europa, con una red de más de 30K desarrolladores. Toma parte como patrocinador en el evento abierto a todos los lenguajes, plataformas y tecnologías.
      <p><a class="button button-lrg" href="mailto:info@codemotion.es">Contáctanos</a>
    </div>
    <div class="medium-6 columns">
      <div class="brace"></div>
    </div>
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Nuestras comunidades</h2>
      <p>Este evento no sería posible sin la participación de nuestras comunidades. Ellas son las que producen el contenido que da sentido a todo esto.
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>¿No está tu comunidad? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Solicita incluirla aquí</a></small> 
  </div>
</section>