---
layout: default-en
title: Codemotion Spain - Sponsoring
---
 
{% include menu-en.html active="sponsoring" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns">
      <h1>Our sponsors</h1>
      <p>These are the companies that care about our developers.
    </div>
  </div>
  {% include sponsors.html %}
</section>
<section>
  <div class="row">
    <div class="medium-6 columns">
      <h2>Become a sponsor</h2>
      <p>Codemotion is the biggest tech conference in Spain and one of the most important in Europe, with a network of more than 30K developers. Take part as a sponsor in the event open to all languages, platforms and technologies.
      <p><a class="button button-lrg" href="mailto:info@codemotion.es">Contact us</a>
    </div>
    <div class="medium-6 columns">
      <div class="brace"></div>
    </div>
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Our communities</h2>
      <p>This event would not be possible without our communities. They provide with the talks and content that make all this possible.
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>Missing your community? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Ask for an invitation here</a></small> 
  </div>
</section>