---
layout: default-es
title: Codemotion Spain - Call for papers
categories: [es]
permalink: /es/call-for-papers.html
---
 
{% include menu-es.html active="c4p" topbarClass="fixed" %}

<section>
  <div class="row contents">
    <div class="columns medium-6__">
      <h2>Call for papers</h2>
      <p>¿Tienes una tecnología que te apasiona y que quieres compartir? Participa en nuestro Call for Papers <b>abierto hasta el 31 de Julio</b> en las categorías de charla o workshop. 
      <p><a class="button button-lrg" href="https://docs.google.com/forms/d/1QS0w2963gRr2MktKXxe_bpx0rB8TeQy4Q5VtN4XouEk/viewform">Envíanos tu charla</a>
    </div>
    <!--
    <div class="columns medium-6">
      <h2>Early Bird</h2>
      <p>Pssst... Las entradas Early Bird ya están disponibles. Si estás considerando venir, regístrate lo antes posible porque Codemotion se ha vendido por completo los dos últimos años. Early Bird estará disponible solo hasta el 15 de Agosto. 
      <p class="right"><a href="http://codemotion.koliseo.com"><span class="icon-right-open"></span> Regístrate ya</a>.
    </div>
  -->
  </div>
</section>
<hr>
<section class="communities">
  <div class="row">
    <div class="columns">
      <h2>Conoce nuestras comunidades</h2>
      <p>Éstas son las comunidades que evaluarán tu charla. Es recomendable que dediques un momento a conocerlas y elegir las tres a las que enviar tu propuesta.
    </div>
  </div>
  <div class="row">
    {% include communities.html %}
  </div>
  <div class="row">
    <p><small>¿No está tu comunidad? <a href="https://groups.google.com/forum/#!forum/codemotion-madrid">Solicita incluirla aquí</a></small> 
  </div>
</section>
<!--
<hr>
<section>
  <div class="row contents">
    <div class="columns medium-6">
      <h2>Call for startups</h2>
      <p>Este año es el primero en que abriremos 5 slots para startups en Codemotion. <a href="blog.codemotion.es/call-for-startups">Infórmate aquí</a>.

      <p class="right"><a href="https://docs.google.com/forms/d/11OXhwzxUvhZruup-P6Q8PpDPrC6rf-DwaiJ903F5Huk/viewform"><span class="icon-right-open"></span> Registra tu startup</a>
    </div>
    <div class="columns medium-6">
      <h2>Call for volunteers</h2>
      <p>Codemotion está gestionado por unos pocos  
      <p class="right"><a href="https://docs.google.com/forms/d/1Kb_DevRucpJYdXbICkHKlwtUHb8k39H6z2JZ6429V-4/viewform"><span class="icon-right-open"></span> Apúntate como voluntario</a>
    </div>
  </div>
</section>
-->